select {
    border-radius: 0 !important;
    height: 40px !important;
    line-height: 40px;
    font-weight: 600;
    padding: 0 5px;
    border: 1px solid #dcdcdc;
}

@media (max-width: 1200px) {
    #myCarousel .carousel-item {
        min-height: 400px !important;
    }
    
    #myCarousel .carousel-item h4 {
        font-size: 40px;
    }
    
    #myCarousel .carousel-item h5 {
        font-size: 30px;
    }
}

@media (max-width: 991px) {
    #myCarousel .carousel-item {
        min-height: 350px !important;
    }

    #board .brd_border.brd_video {
        height: 480px;
    }

    #top_bar, .upper_bar {
        display: none;
    }

    li.nav-item .nav-link.g-px-0 {
        padding: 0.8rem 1rem;
    }

    .hs-has-sub-menu > a::after, .hs-has-mega-menu > a::after {
      font-size: 10px;
    }

    #edu_info .info_list {
        padding-top: 40px;
    }
}

@media (max-width: 768px) {
    #board .brd_border.brd_video {
        height: 280px;
    }

    .logo_footer {
        display: none;
    }

    #myCarousel img {
        display: none !important;
    }
}

@media (max-width: 576px) {
    #info .bg3 {
        width: 90% !important;
        margin: 0 5%;
    }

    #sugang .input_info {
        width: 100% !important;
    }

    .text-center--xs {
        text-align: center;
    }

    #edulist table td:nth-child(2n) {
        padding-left: 10px;
    }

    #banner {
        display: none;
    }
}

.w-30 {
    width: 30%;
}

/* footer */
footer {
    min-height: 180px;
    background: #fff;
}

footer .menu {
    text-align: center;
    padding: 15px 0;
    color: #888;
    border-bottom: 1px solid #ddd !important;
}

footer .menu a {
    color: white;
    font-weight: 600;
    font-size: 0.85714rem !important;
    border-color: #e0e4ea !important;
}

footer .footer {
    text-align: left;
    margin: auto 20px;
}
/* end of footer */

/* main */
.search_box {
    position: relative;
    display: block;
}

.search_icon {
    float: right;
    position: absolute;
    top: 16px;
    right: 16px;
}

.click {
    cursor: pointer;
}

#board {
    background-image: url(../img/back1.jpg);
}


#board input[type=text] {
    border-color: transparent;
}

#board input[type=text]:focus {outline:none;}

#board .search {
    font-weight: 600;
    color: #21499e;
    background: #fff;
    padding: 15px 40px;
    margin-bottom: 40px;
    border: 2px solid #21499e;
}

#board .search .search_btn {
    margin: -2px;
    border-radius: 50%;
    cursor: pointer;
    background: #21499e;
    color: #fff;
    padding: 5px 9px;
}

#board .bg {
    background-color: rgba(255, 255, 255, 0.3);
}

#board b {
    color: #21499e;
}

#board li b {
    margin-right: 5px;
    font-size: 110%;
}

#board li:first-child b {
    color: #e6372e;
}

#board label {
    cursor: pointer;
    margin: auto 0 auto 6px;
    font-size: 10px;
    border-radius: 8px;
    background: #bbb;
    padding: 1px 12px;
    color: #fff;
}

#board ul {
    margin-right: 10px;
    padding: 0;
    border: 1px solid #ddd;
}

#board ul li {
    background: rgba(255, 255, 255, 0.7);
    padding: 6px 30px;
    font-size: 15px;
    cursor: pointer;
    list-style: none;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#board ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

#board a.plus {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #aaa;
    color: #fff;
    font-size: 1.44286rem;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}

#info.bg {
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#info .bg2 {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}

#info h2 {
    letter-spacing: 4px;
}

.div_split {
    margin: 30px 0;
    width: 45px;
    height: 2px;
    background: #fff;
}

#info .more_btn {
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
    width: 200px;
    text-align: center;
}

#slide .more_btn {
    color: #aaa;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    text-align: center;
}

.txt_line {
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* end of main */

/* notice */
.tbl table {
    border-top: 2px solid rgb(72, 90, 125);
    line-height: 1.5;
    border-bottom: 1px solid #333;
    margin-bottom: -1px;
    font-size: 90%;
    letter-spacing: -1px;
    width: 100%;
    text-align:center;
    border-collapse: collapse;
    table-layout: fixed;
}

.tbl table th {
    border-bottom: 1px solid #e5e5e5;
    background-color: #f2f2f2;
    text-align: center;
}

.tbl table tbody tr:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
}

.tbl .ac {
    text-align: center;
}

.tbl .title {
    text-align: left;
}

.tbl table th, .tbl table td {
    height: 25px;
    min-height: 25px;
    padding: 15px 0;
}

.pagination {
    padding: 20px 0;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.pg_div {
	margin: 0 auto;
	display: table;
}

.pagination a, .pagination strong, .pagination span {
    display: inline-block;
    float: right;
    position: relative;
    padding: 7px 8px;
}

.pagination .paginationList > li {
    height: 30px;
    padding: 2px;
}

.pagination .paginationList > li, .pagination .paginationListNum > li {
    float: left;
    list-style: none;
}

.pagination strong {
    font-weight: bold;
    color: rgb(72, 90, 125);
    border-bottom: 2px solid rgb(72, 90, 125);
}

.pagination a, .pagination strong, .pagination span {
    display: inline-block;
    float: right;
    position: relative;
    padding: 7px 8px;
}

/* end of notice */

/* edu list */
#edu .img {
    height: 300px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#edu .edu_div {
    margin: 10px;
    height: 350px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

#edu .edu_img {
    height: 150px;
    border-radius: 4px 4px 0 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#edu .edu_info {
    height: 200px;
    padding: 10px 20px;
}

#edu .edu_info h5 {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    margin-top: 1px;
    max-height: inherit;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#edu .edu_btn {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 10px 20px;
    width: fit-content;
    font-weight: 600;
    color: #3b5998;
    font-size: 12px;
}

#edulist .search_div {
    border: 1px solid #eee;
    background-color: #fafafa;
    padding: 30px;
}

#edulist .search_div .search_btn {
    border: 1px solid #4E4E4E;
    background: #4E4E4E;
    padding: 15px 40px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

#edulist .edu_div {
    margin: 10px;
    height: 380px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

#edulist .edu_img {
    height: 150px;
    border-radius: 4px 4px 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#edulist .edu_info {
    height: 230px;
    padding: 20px;
}

#edulist .edu_info h5 {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    margin-top: 1px;
    max-height: inherit;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#edulist .edu_btn {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 10px 20px;
    width: fit-content;
    font-weight: 600;
    color: #3b5998;
    font-size: 12px;
}

#edulist .input_info {
    width: 80%;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    border: 1px solid #dcdcdc;
    border-radius: 0;
}

#edulist .input_info2 {
    width: 30%;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    border: 1px solid #dcdcdc;
    border-radius: 0;
}

#edulist .calender_btn {
    width: 40px;
    height: 40px;
    border: 1px solid #4E4E4E;
    background: #4E4E4E;
    color: white;
    padding: 10px;
}

#edulist table td{
    height: 50px;
}
/* end of edu list */

#edu_info .info_div {
    padding: 40px;
    border: 2px solid #e5e5e5;
    min-height: 250px;

}

#edu_info .info_head {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 24px;
}

#edu_info .info_cont {
    font-weight: 600;
    font-size: 14px;
}

#edu_info  .info_img {
    width: 100%;
    height: auto;
}
/* end of sugang list */

/* mypage2 */
#mylist .detail_btn {
    border: 1px solid #4E4E4E;
    background: #4E4E4E;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    padding: 8px 15px;
}

.list_option .selected {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.list_option .btn {
    border-radius: 0;
    padding: 15px 0;
}
/* end of mypage2 */

/* newdeal intro */
#newdeal_info .info_div {
    min-height: 200px;
    padding: 20px 40px;
    border: 2px solid #eee;
}

#newdeal_info .info_div .info_img {
    min-height: 200px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#newdeal_info .info_div .info_list div {
    font-weight: 600;
    font-size: 14px;
    padding: 10px 0;
}
/* end of newdeal intro */

/* edu intro */
#sugang_info .info_div {
    padding: 10px 20px;
    background: #eee;
}
/* end of edu intro */

#banner {
    background: #21499e;
}

#banner .banner_name {
    margin: auto 0;
    color: #fff;
    font-size: 16px;
    padding: 0;
}

#banner .row {
    margin: 0 auto;
}

#banner .banners, #banner .row-center {
    justify-content: center;
    display: flex;
}

.customPrevBtn, .customNextBtn {
    cursor: pointer;
    color: #fff;
    margin: auto 0;
}

.navbar-brand {
    color: #111;
    font-weight: 600;
}

.upper_bar {
    background: #fcfcfc;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

header {
    background-size: 600px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-image: url(../img/header.png);
}

#top_bar {
    background: #ffffff78;
}

#slide b {
    color: #21499e;
}

#slide {
  font-family: 'Jal_Onuel';
}

.hs-mega-menu li a:hover, .hs-mega-menu li a:active {
    border-radius: 5px;
    background: #fff;
    color: #111 !important;
}

.hs-arrow {
    top: -24px;
    left: 37.5%;
    border-top: 12px solid transparent;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid #999;
}

.footer_site {
    width: 100px;
}



/*carousel cutsom*/

#myCarousel .carousel-item .mask {
    position: absolute;
    top: 0;
	left:0;
	height:100%;
    width: 100%;
    background-attachment: fixed;
    padding: 40px 0;
}
#myCarousel h4{
	font-size:50px;
	margin-bottom:30px;
	line-height:100%;
	letter-spacing:0.5px;
	font-weight:600;
}
#myCarousel h5{
	font-size:35px;
	line-height:100%;
	letter-spacing:0.5px;
}
#myCarousel p{
	font-size:18px;
	margin-bottom:15px;
	color:#d5d5d5;
}
#myCarousel .carousel-item a{background:#F47735; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
#myCarousel .carousel-item a:hover{background:#394fa2; text-decoration:none;  }

#myCarousel .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
#myCarousel .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
#myCarousel .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#myCarousel .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img{-webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#myCarousel .container {max-width: 1430px;  }
#myCarousel .carousel-item{height:100%; min-height:450px; }
#myCarousel{position:relative; z-index:1; background:#f7f5f6; background-size:cover; }

.carousel-control-next, .carousel-control-prev{height:40px; width:40px; padding:12px; top:50%; bottom:auto; transform:translateY(-50%); background-color: #f47735; }


.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carousel-fade .carousel-item {
	opacity: 0;
	-webkit-transition-duration: .6s;
	transition-duration: .6s;
	-webkit-transition-property: opacity;
	transition-property: opacity
}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
	opacity: 1
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
	opacity: 0
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0)
}
@supports (transform-style:preserve-3d) {
	.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0)
	}
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


 
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
